/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
a {
	color: inherit;
	transition: color 180ms linear 10ms;
}
p {
	margin-bottom: 18px;
}
input {
	width: 100%;
	box-sizing: border-box;
}
input:focus {
	outline: none;
}

/* Grid */
.section {
	padding: 50px 0;
}
.row {
	width: 1280px;
	margin: 0 auto;
}
.row-fluid {
	width: 100%;
}
.clearfix:before,
.clearfix:after,
.section:before,
.section:after,
.row:before,
.row:after {
	content: "";
	display: block;
	clear: both;
}
.col {
	min-height: 1px;
	margin: 0;
	padding: 0 12px;
	float: left;
	box-sizing: border-box;
}

.col-parent {
 padding: 0;
}
.col .col:first-child {
	/*padding-left: 0;*/
}
.col .col:last-child {
	/*padding-right: 0;*/
}
.col-centered {
	float: none;
	margin: 0 auto;
}
.col-1	{ width: 8.333333333%; }
.col-2	{ width: 16.666666666%; }
.col-3 	{ width: 25%; }
.col-4	{ width: 33.333333333%; }
.col-5	{ width: 41.666666666%; }
.col-6	{ width: 50%; }
.col-7	{ width: 58.333333333%; }
.col-8	{ width: 66.666666666%; }
.col-9	{ width: 74.999999999%; }
.col-10 { width: 83.333333332%; }
.col-11 { width: 91.666666665%; }
.col-12 { width: 100%; }

.col-offset-1  { margin-left: 8.333333333%; }
.col-offset-2  { margin-left: 16.666666666%; }
.col-offset-3  { margin-left: 25%; }
.col-offset-4  { margin-left: 33.333333333%; }
.col-offset-5  { margin-left: 41.666666666%; }
.col-offset-6  { margin-left: 50%; }
.col-offset-7  { margin-left: 58.333333333%; }
.col-offset-8  { margin-left: 66.666666666%; }
.col-offset-9  { margin-left: 74.999999999%; }
.col-offset-10 { margin-left: 83.333333332%; }
.col-offset-11 { margin-left: 91.666666666%; }

.show-for-large,
.show-for-medium,
.show-for-small,
.show-for-ext-small {
	display: none;
}

@media screen and (max-width: 1296px) {
	/* Large */
	.row { width: 90%; }
	.col-large-1	{ width: 8.333333333%; }
	.col-large-2	{ width: 16.666666666%; }
	.col-large-3 	{ width: 25%; }
	.col-large-4	{ width: 33.333333333%; }
	.col-large-5	{ width: 41.666666666%; }
	.col-large-6	{ width: 50%; }
	.col-large-7	{ width: 58.333333333%; }
	.col-large-8	{ width: 66.666666666%; }
	.col-large-9	{ width: 74.999999999%; }
	.col-large-10 { width: 83.333333332%; }
	.col-large-11 { width: 91.666666665%; }
	.col-large-12 { width: 100%; }

	.show-for-large { display: block; }
	.hide-for-large { display: none; }
}
@media screen and (max-width: 1024px) {
	/* Medium */
	.col-medium-1	{ width: 8.333333333%; }
	.col-medium-2	{ width: 16.666666666%; }
	.col-medium-3 	{ width: 25%; }
	.col-medium-4	{ width: 33.333333333%; }
	.col-medium-5	{ width: 41.666666666%; }
	.col-medium-6	{ width: 50%; }
	.col-medium-7	{ width: 58.333333333%; }
	.col-medium-8	{ width: 66.666666666%; }
	.col-medium-9	{ width: 74.999999999%; }
	.col-medium-10 { width: 83.333333332%; }
	.col-medium-11 { width: 91.666666665%; }
	.col-medium-12 { width: 100%; }

	.show-for-medium { display: block; }
	.hide-for-medium { display: none; }
}
@media screen and (max-width: 768px) {
	/* Small */
	.col { width: 98%; }
	.col .col { width: 100%; }
	.col-offset-1,
	.col-offset-2,
	.col-offset-3,
	.col-offset-4,
	.col-offset-5,
	.col-offset-6,
	.col-offset-7,
	.col-offset-8,
	.col-offset-9,
	.col-offset-10,
	.col-offset-11,
	.col-offset-12 {
		margin-left: 0;
	}
	.col-small-1	{ width: 8.333333333%; }
	.col-small-2	{ width: 16.666666666%; }
	.col-small-3 	{ width: 25%; }
	.col-small-4	{ width: 33.333333333%; }
	.col-small-5	{ width: 41.666666666%; }
	.col-small-6	{ width: 50%; }
	.col-small-7	{ width: 58.333333333%; }
	.col-small-8	{ width: 66.666666666%; }
	.col-small-9	{ width: 74.999999999%; }
	.col-small-10 { width: 83.333333332%; }
	.col-small-11 { width: 91.666666665%; }
	.col-small-12 { width: 100%; }

	.col-parent {
		padding-left: 12px;
		padding-right: 12px;
	}

	.col-parent .col {
		padding-left: 0;
		padding-right: 0;
	}


	.show-for-small { display: block; }
	.hide-for-small { display: none; }
}
@media screen and (max-width: 480px) {
	/* Extra Small */
	.col-ext-small-1	{ width: 8.333333333%; }
	.col-ext-small-2	{ width: 16.666666666%; }
	.col-ext-small-3 	{ width: 25%; }
	.col-ext-small-4	{ width: 33.333333333%; }
	.col-ext-small-5	{ width: 41.666666666%; }
	.col-ext-small-6	{ width: 50%; }
	.col-ext-small-7	{ width: 58.333333333%; }
	.col-ext-small-8	{ width: 66.666666666%; }
	.col-ext-small-9	{ width: 74.999999999%; }
	.col-ext-small-10 { width: 83.333333332%; }
	.col-ext-small-11 { width: 91.666666665%; }
	.col-ext-small-12 { width: 100%; }

	.show-for-ext-small { display: block; }
	.hide-for-ext-small { display: none; }
}
