/* Helper Classes */
.d-block { display: block; }
.d-none { display: none; }
.d-i-block { display: inline-block; }
.p-static { position: static; }
.p-relative { position: relative; }
.p-absolute { position: absolute; }
.p-fixed { position: fixed; }
.of-hidden { overflow: hidden; }
.of-visible { overflow: visible; }
.clear-b { clear: both; }
.f-left { float: left; }
.f-right { float: right; }
.f-none { float: none; }
.txt-center { text-align: center; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }
.txt-upp { text-transform: uppercase; }
.txt-low { text-transform: lowercase; }
.r-shadow { box-shadow: none; }
.r-border { border: none; }
.r-margin { margin: 0; }
.r-margin-t { margin-top: 0; }
.r-margin-b { margin-bottom: 0; }
.r-margin-r { margin-right: 0; }
.r-margin-l { margin-left: 0; }
.r-padding { padding: 0; }
.r-padding-t { padding-top: 0; }
.r-padding-b { padding-bottom: 0; }
.r-padding-r { padding-right: 0; }
.r-padding-l { padding-left: 0; }
.v-hidden { visibility: hidden; }
.v-visible { visibility: visible; }
